#img1{
    border-style:solid;
    border-width:4px;
    border-color:rgb(58, 38, 13);
    float:right;
    margin-left:10px;
}
#img2{
    border-style:solid;
    border-color:rgb(58, 38, 13);
    
}
header{
    display:flex;
    FLEX-DIRECTION:column;
    justify-content: center; 
}
ul {
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(224, 203, 161);
    padding: 10px;
    border-style:double;
    border-color:rgb(133, 105, 66);
    border-width: 5px;
}

a:link {
    color: rgb(146, 126, 45);
    text-decoration: none;
}
a:hover{
    color:rgb(231, 61, 69);
}
h2 {
    color: rgb(160, 120, 86);
    font-family:'Courier New', Courier, monospace;
}
main{
    border-radius: 10px;
    border-style:double;
    padding:10px;
    border-color:#d1976b;
    background-color: rgb(38, 1, 1);
    color:rgb(224, 164, 111);
    display:flex;
    flex-direction:column;
    justify-content: right;
    font-size:13px;
    width: 70%;

}
body {
    background-color: rgb(244, 232, 185);
     font-family:'Courier New', Courier, monospace;
}
form{
    color:rgb(224, 164, 111);
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    margin-top:10px;
    float:right;
    width: 170px;
    border-radius: 10px;
    border-style:double;
    padding:5px;
    border-color:#d1976b;
    background-color: rgb(38, 26, 1);
    color:rgb(224, 164, 111);
    padding-right:10px;
}
section{
    color:rgb(224, 164, 111);
    font-family:'Courier New', Courier, monospace;
    font-size:20px;
    margin-right:5px;
    margin-top:5px;
    float:left;
    width: 70%;
     border-radius: 10px;
    border-style:double;
    padding:10px;
    border-color:#d1976b;
    background-color: rgb(38, 26, 1);
    font-size: 12px;
}
footer{
    display:flex;
    justify-content: center;
    position: absolute;
    bottom:0;
}
#main2{
    width:95%
}