#img1{
    border-style:solid;
    border-width:4px;
    border-color:rgb(58, 38, 13);
    float:left;
    margin:10px;
}
header{
    display:flex;
    FLEX-DIRECTION:column;
    justify-content: center; 
   color:rgb(219, 97, 9)
}
ul {
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(224, 203, 161);
    padding: 10px;
    border-style:double;
    border-color:rgb(146, 103, 44);
    border-width: 5px;
}

a:link {
    color: rgb(76, 62, 7);
    text-decoration: none;
}
a:hover{
    color:rgb(231, 197, 61);
}
h2 {
    color: rgb(224, 164, 111);
    font-family:'Courier New', Courier, monospace;
}
main{
    margin-right:50px; 
    border-radius: 10px;
    border-style:double;
    padding:10px;
    border-color:#d1976b;
    background-color: rgb(38, 26, 1);
    color:rgb(224, 164, 111);
    display:flex;
    flex-direction:column;
    justify-content: right;


}
body {
    background-color: rgb(244, 232, 185);
     font-family:'Courier New', Courier, monospace;
}
